<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="basePath">D:/logs</Property>
    </Properties>

    <Appenders>
        <RollingFile name="fileLogger" fileName="${basePath}/password-validation.log" filePattern="${basePath}/password-validation-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd}-%t-%x-%-5p-%-10c:%m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>

        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout   pattern="%d{yyyy-MM-dd}-%t-%x-%-5p-%-10c:%m%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.mckesson.codingassignment" level="info" additivity="true">
            <appender-ref ref="fileLogger"/>
        </Logger>
        <Root level="info" additivity="false">
            <appender-ref ref="console" />
        </Root>
    </Loggers>
</Configuration>